@media (max-width: 1200px)
  .container
    max-width: 960px
@media (max-width: 992px)
  .container
    max-width: 700px
  .logo
    width: 132px
  .navbar
    &-top
      padding-top: 30px
      padding-bottom: 30px
    &__search
      margin-left: auto

    &-menu
      padding-top: 22px
      padding-bottom: 22px
      &__link
        font-size: 12px
        line-height: 15px
  .search
    &__input
      width: 340px
@media (max-width: 767px)
  .container
    max-width: 576px
    width: 92%
  .navbar
    &-menu, &__search, &__user
      display: none

  .menu
    &-button
      display: flex
      width: 16px
      height: 11px
      padding: 0
      flex-direction: column
      justify-content: space-between
      align-items: center
      border: none
      background-color: #fff
      cursor: pointer
      &__line
        width: 16px
        height: 1px
        background-color: $text-color

@media (max-width: 576px )
  .logo
    width: 99px
  .navbar
    &-menu
      display: flex
      flex-direction: column
      align-items: center
      &__item
        margin-bottom: 20px
    &-bottom
      display: flex
      flex-direction: column
      padding-top: 31px
      padding-bottom: 48px
      &__mobile
        display: flex
        flex-direction: column
        align-items: center
        text-decoration: none
        margin-bottom: 27px
        &__user-name
          margin: 0
          color: $light
      &__search
        display: flex
        position: relative
        border-radius: 6px
        overflow: hidden
        height: 40px
        width: 243px
        margin: auto
        &__input
          font-size: 12px
          width: 100%
          padding-left: 23px

        &__button
          background-color: $primary
          position: absolute
          height: 100%
          top: 0px
          right: 0px
          font-size: 12px
          line-height: 15px
          border: none
          width: 65px
