@media (max-width: 1200px)
  .container
    max-width: 960px
  .hotel-slide
    &__image
      max-height: 100%
      min-height: 100%
      object-fit: cover
      width: 100%
  .hotel
    &-slider

  .card
    width: 230px
    height: 230px
  .footer
    &__input
      flex-basis: 100%

@media (max-width: 992px)
  .container,
  .newsletter-wrapper
    max-width: 700px
  .logo
    width: 132px
  .navbar
    &-top
      padding-top: 30px
      padding-bottom: 30px
    &__search
      margin-left: auto
    &-menu
      padding: 22px 14px
      &__link
        font-size: 12px
        line-height: 15px
  .search
    &__input
      border-radius: 6px
      width: 340px
      padding-left: 23px
  .hotel
    padding-bottom: 60px
    &-grid
      flex-direction: column
    &-details
      flex-direction: row
    &__slider
      margin-bottom: 30px
    &-slider
      width: 100%
  .booking
    width: 340px
  .maps
    width: 340px
  .reviews
    padding-top: 40px
    padding-bottom: 50px
    &__title
      font-weight: bold
      font-size: 30px
      line-height: 38px
      margin-bottom: 50px
    &-slider
      &__item
        max-width: 580px
  .activities
    padding-top: 0px
    padding-bottom: 50px
    &-wrapper
      flex-wrap: wrap
    &__card
      margin-bottom: 20px
  .card
    width: 339px
    height: 255px
  .footer
    padding-top: 73px
    &__title
      &--inline
        // margin-left: 40px
        // margin-top: 10px
    &-wrapper
      grid-template-columns: repeat(10, 1fr)
      grid-row-gap: 48px
      margin-bottom: 57px
    &__logo
      width: 114px
      height: 114px
      grid-row: 1 / 1
      grid-column: span 2
    &__social-network
      grid-row: 1 / 2
      grid-column: span 6
      align-self: center
      justify-self: center
      margin-top: 10px

    &__categories
      grid-row: 2 / 3
      grid-column: span 3
    &__additional
      grid-row: 2 / 3
      grid-column: 4 / 8

    &__legal
      grid-column: span 3

    &__contact
      &-details
        grid-row: 3
        grid-column: span 8
      &-form
        grid-row: 4
        grid-column: span 8
    &__input
      flex-basis: 48%
      padding: 0
      padding-left: 20px
    &__line
      width: 100%
    &__bottom
      justify-content: flex-start

@media (max-width: 767px)
  .container
    max-width: 570px
    width: 92%
  body
    padding-top: 68px
  .logo
    width: 99px
    font-size: 13px
    line-height: 13px
  .navbar
    &--mobile
      &--fixed
        position: fixed
        left: 0
        top: 0
        right: 0
        z-index: 99
    &__search, &__user
      &--mobile
        &--hidden
          display: none
        &--visible
          display: flex

    &__search
      &--mobile
        &--visible
          // max-width: 245px
          margin: 0 auto
          margin-bottom: 15px
          justify-content: center

    &__user
      flex-direction: column
      justify-content: center
    &-bottom
      display: none
      position: fixed
      top: 68px
      left: 0
      right: 0
      bottom: 0
      padding-top: 12px
      &--visible
        display: flex
        text-align: center

    &-top
      padding-top: 28px
      padding-bottom: 28px
    &-menu
      flex-direction: column

      &__item
        margin-bottom: 20px
        line-height: 15px
        &--mobile
          &--visible
            display: block

  .menu
    &-button
      display: flex
      width: 16px
      height: 11px
      padding: 0
      flex-direction: column
      justify-content: space-between
      align-items: center
      border: none
      background-color: #fff
      cursor: pointer
      &__line
        width: 16px
        height: 1px
        background-color: $text-color
  .user

    &__name
      &--light
        color: $light
        margin-top: 10px
        margin-left: 0

  .stars
    flex-basis: auto
  .hotel
    padding-top: 2px
    padding-bottom: 40px
    &-name
      flex-basis: 100%
    &-info
      padding-bottom: 39px
      &__text
        width: 100%
      &__offer
        margin-right: 146px
      &__name
        font-size: 24px
        line-height: 30px
        margin-top: 10px
        margin-bottom: 0
      &__description
        max-width: 280px
      &__rating
        display: none
      &__offer
        order: -1
        margin-left: 0
    &-details
      flex-direction: column
      min-height: 400px
    &-slider
      height: 179px
  .booking
    width: 100%
  .maps
    width: 100%
    height: 173px
  .frame
    width: 100%
  .newsletter
    &-wrapper
      max-width: 576px
      width: 92%
      flex-direction: column
      align-items: flex-start
    &-title
      font-weight: 300
      font-size: 20px
      line-height: 25px
      &__strong
        font-weight: 600
        font-size: 30px
        line-height: 38px

  .reviews
    padding-bottom: 0px
    margin-bottom: 20px
    &__title
      font-weight: bold
      font-size: 18px
      line-height: 23px
      margin: 0 auto
      text-transform: uppercase
      width: 245px
      margin-bottom: 40px
    &__text
      font-size: 12px
      line-height: 160%
      padding: 2px

    &-slider
      &__item
        padding: 0 30px 30px
        &:after, &::before
          display: none
      &__button
        top: 32px
        &--prev
          left: 50%
          transform: translateX(-50%)
          margin-left: -85px
        &--next
          right: 50%
          transform: translateX(50%)
          margin-right: -85px
      &__profile
        margin-bottom: 27px
  .card
    width: 280px
    height: 255px
  .activities
    padding-top: 0px
    padding-bottom: 42px
    &__title
      font-size: 18px
      line-height: 23px
      margin-bottom: 36px
  .footer
    &__input
      flex-basis: 100%
    // &__icons
    //   margin-left: -2px
    &__line
      flex-wrap: wrap
    &__bottom

      flex-wrap: wrap
      justify-content: flex-start

  .modal
    &__dialog
      width: 94%
      font-size: 14px
@media (max-width: 576px )

  .logo
    width: 99px
  .hotel
    &-details
      justify-content: center
    &__slider
      margin-bottom: 20px
      height: 179px
  .booking
    margin-bottom: 20px
  .newsletter
    padding-top: 76px
    padding-bottom: 83px
    &__title
      margin-bottom: 37px
      font-size: 20px
      line-height: 25px
      &--inline
        margin: 0
    &__strong
      font-size: 30px
      line-height: 38px
  .subscribe
    width: 100%
  .card
    width: 100%
  .footer
    &__logo
      width: 104px
      height: 105px
    &-wrapper
      grid-template-columns: 1fr
      grid-row-gap: 30px
      margin-bottom: 30px
    &__logo
      grid-row: 1
      grid-column: 1

    &__social-network
      grid-row: 2
      grid-column: 1
      display: flex
      flex-wrap: wrap
      width: 195px
      justify-self: flex-start
    &__legal
      grid-row: 3
      grid-column: 1
      justify-self: self-start
    &__additional
      grid-row: 4
      grid-column: 1
    &__categories
      grid-row: 5
      grid-column: 1
    &__contact
      &-details
        grid-row: 6
        grid-column: 1
      &-form
        grid-row: 7
        grid-column: 1
        width: 280px
        padding-top: 16px
    &__social-links
      margin-top: 20px
    &__title
      &--inline

        margin-top: 10px
        margin-right: 0
      &--message
        margin-bottom: 15px
    &__message
      margin-bottom: 12px
    &__info
      margin-left: 10px
      margin-bottom: 10px
    &__line
      flex-direction: column-reverse
      align-items: start
    &__bottom
      width: 300px
    &__policy
      margin-bottom: 5px
  .modal
    &__form
      width: 100%
    &__dialog
      width: 100%
      padding: 20px 45px
      font-size: 12px
    &__input
      border-radius: 4px

      height: 50px
