@media (max-width: 1200px)
  .container
    max-width: 960px
  .slider
    width: 590px
  .swiper-slide
    &__image
      max-height: 100%
      min-height: 100%
      object-fit: cover
      width: 100%

@media (max-width: 992px)
  .container,
  .newsletter-wrapper
    max-width: 700px
  .logo
    width: 132px
  .navbar
    &-top
      padding-top: 30px
      padding-bottom: 30px
    &__search
      margin-left: auto
    &-menu
      padding: 22px 14px
      &__link
        font-size: 12px
        line-height: 15px
  .search
    &__input
      width: 340px
  .hotel
    &-grid
      flex-direction: column
    &-details
      flex-direction: row
    &__slider
      margin-bottom: 30px
  .booking
    width: 340px
  .slider
    width: 100%
  .maps
    width: 340px
@media (max-width: 767px)
  .container
    max-width: 570px
    width: 92%
  .logo
    width: 99px
    font-size: 13px
    line-height: 13px
  .navbar
    &-menu, &__search, &__user
      display: none
    &-top
      padding-top: 28px
      padding-bottom: 28px
  .menu
    &-button
      display: flex
      width: 16px
      height: 11px
      padding: 0
      flex-direction: column
      justify-content: space-between
      align-items: center
      border: none
      background-color: #fff
      cursor: pointer
      &__line
        width: 16px
        height: 1px
        background-color: $text-color
  .stars
    flex-basis: auto

  .hotel
    padding-top: 2px
    &-name
      flex-basis: 100%
    &-wrapper
      // justify-content: space-between
    &-info
      &__text
        width: 100%
      &__offer
        margin-right: 146px
      &__name
        font-size: 24px
        line-height: 30px
        margin-top: 10px
        margin-bottom: 0

      &__description
        max-width: 280px
      &__rating
        display: none
      &__offer
        order: -1
        margin-left: 0
  .slider
    height: 179px
  .hotel
    &-details
      flex-direction: column
      min-height: 450px
  .booking
    width: 100%
  .maps
    width: 100%
    height: 173px
  .frame
    width: 100%
  .newsletter
    &-wrapper
      max-width: 576px
      width: 92%
      flex-direction: column
      align-items: flex-start
@media (max-width: 576px )
  .logo
    width: 99px
  .slider
    height: 179px
  .hotel
    &__slider
      margin-bottom: 20px
  .newsletter
    padding-top: 76px
    padding-bottom: 83px
    &__title
      margin-bottom: 37px
  .subscribe
    width: 100%

//   .navbar
//     &-menu
//       display: flex
//       flex-direction: column
//       align-items: center
//       &__item
//         margin-bottom: 20px
//     &-bottom
//       display: flex
//       flex-direction: column
//       padding-top: 31px
//       padding-bottom: 48px
//       &__mobile
//         display: flex
//         flex-direction: column
//         align-items: center
//         text-decoration: none
//         margin-bottom: 27px
//         &__user-name
//           margin: 0
//           color: $light
//       &__search
//         display: flex
//         position: relative
//         border-radius: 6px
//         overflow: hidden
//         height: 40px
//         width: 243px
//         margin: auto
//         &__input
//           font-size: 12px
//           width: 100%
//           padding-left: 23px
//         &__button
//           background-color: $primary
//           position: absolute
//           height: 100%
//           top: 0px
//           right: 0px
//           font-size: 12px
//           line-height: 15px
//           border: none
//           width: 65px
